* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
}

#main {
  background: #eee;
  margin: 4rem;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 4rem;
}

#title + p {
  margin: 16px;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-caption {
  margin: 15px 0 5px 0;
}

#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}
ul + p {
  align-self: center;
  max-width: 550px;
  text-align: left;
  font-style: italic;
  font-weight: 100;
  margin: 50px 150px;
}
ul li {
  margin: 16px 0;
}

h4 {
  font-size: 2rem;
}
