@media screen and (max-width: 1024px) {
  header #main-nav {
    display: none;
  }

  .hemberger,
  .responsive-logo {
    display: block;
  }

  .hero .left img {
    width: 260px;
  }

  .hero .right h1 {
    font-size: 2rem;
  }

  .hero {
    padding-top: 10rem;
  }
  header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 28% 90%, 0 100%);
  }

  section.about .about-me-img {
    height: 360px;
  }

  section.services .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  section.work .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  section.blog {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 96%, 0 100%);
  }

  section.blog .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* for mobile screen */
@media screen and (max-width: 576px) {
  .container {
    max-width: 520px;
    width: 100%;
    height: 100%;
  }
  .hero {
    flex-direction: column;
    position: relative;
  }

  header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);
  }

  .hero .right {
    position: absolute;
    top: 330px;
    padding: 0 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  }

  .hero .left img {
    margin-top: -4rem;
    margin-right: -5rem;
    padding-bottom: 8rem;
  }

  /* about section */

  .about-inner-wrap {
    flex-direction: column;
  }

  section.about h1 {
    margin-top: 2rem;
  }

  section {
    padding: 3rem 0;
  }

  .section-heading + p {
    margin-bottom: 4rem;
  }

  section.about .right {
    text-align: center;
  }

  section.about .social {
    justify-content: center;
  }

  section.reviews .slider .slide {
    padding: 0 0;
  }

  section.services .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  section.work .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  section.contact .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  section.contact .input-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  section.freelancing {
    padding: 4rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
  }

  section.freelancing h1 {
    line-height: 1.2;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}
