@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;700&family=Public+Sans:wght@300;400;700&family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
a,
p {
  /* font-size: 18px; */
  font-family: "Public Sans", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
}

p {
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS Variable */
:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.navbar img {
  height: 80%;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 90%;
  padding: 20px 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-self: center;
}
.navbar ul li {
  margin-left: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--grayish-blue);
  transition: all 0.3s ease-in-out;
}
.navbar ul li a:hover {
  color: var(--dark-blue);
}
.nav-section {
  background-color: var(--white);
  position: relative;
  z-index: 1;
}

.btn {
  border: none;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  padding: 10px 20px;
  border-radius: 50px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: linear-gradient(to right, var(--bright-cyan), var(--lime-green));
}

.header-section {
  background-color: var(--light-gray);
}

.header-wrap {
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: 40px;
}

.header-text {
  flex: 1 0 40%;
}

.header-img {
  flex: 1 0 60%;
  position: relative;
}

.header-img img:first-child {
  transform: scale(1.5);
  position: relative;
  top: -100px;
  bottom: 0;
  right: -200px;
}
.header-img img:last-child {
  position: absolute;
  top: -100px;
  right: -180px;
  transform: scale(1.1);
}

.header-text h1 {
  font-size: 48px;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 30px;
}

.header-text p {
  margin-bottom: 30px;

  color: var(--grayish-blue);
}

section.pros-section {
  background-color: var(--light-grayish-blue);
  padding: 60px 0;
}

.pros-section h1 {
  margin-bottom: 20px;
}

.pros-section p {
  margin-bottom: 60px;
  color: var(--grayish-blue);
}

.pros-section .card-wrapper {
  display: flex;
}

/* [* + *] means pehle wale ko chor kr sb ko select kr lo */
.pros-section .card-wrapper > * + * {
  margin-left: 50px;
}
.card img {
  margin-bottom: 30px;
}
.card h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
.card p {
  font-size: 16px;
}

.article-section {
  background-color: var(--light-gray);
  padding: 60px 0;
}
.article-section h1 {
  margin-bottom: 30px;
}

.article-wrapper {
  display: flex;
}
.article-wrapper > * + * {
  margin-left: 30px;
}

.article-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.article-card .content {
  background-color: var(--white);
  padding: 20px;
}

.article-card a {
  display: inline-block;
  padding: 10px 0;
  color: var(--dark-blue);
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease-out;
}

.article-card a:hover {
  color: var(--lime-green);
}

.article-card p {
  font-size: 16px;
  color: var(--grayish-blue);
}

footer {
  background-color: var(--dark-blue);
  padding: 30px;
}

footer ul {
  list-style: none;
}

footer ul.social {
  display: flex;
  margin-top: 60px;
}

footer ul.social > * + * {
  margin-left: 14px;
}

footer .content {
  display: flex;
  justify-content: space-between;
}

footer .content a {
  color: var(--light-gray);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

footer .content a:hover {
  color: var(--grayish-blue);
}

footer .content li {
  margin-bottom: 10px;
}

footer .footer-cta {
  text-align: right;

  color: var(--grayish-blue);
}

footer .footer-cta p {
  margin-top: 30px;
  font-size: 16px;
}


/* Responsivnes */